.game {
    width: 612px;
    height: 200px;
    background-color: white;
    margin: auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url('../images/trex.png');
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 0.3s linear;
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;

    background-image: url('../images/cactus.png');
    background-size: 20px 40px;
}

.animation {
    animation: block 2s infinite linear;
}

.exception-row {
    flex-grow: 1;
}

.exception-row > div {
    display: flex;
    flex-direction: column;
}

.exception-row > div > div {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

.text-center > span:nth-child(1) > svg {
    margin-right: 9px;
}

h5 > span {
    color: #3168b8;
}

.text-center > span:nth-child(3),
.text-center > span:nth-child(4),
.text-center > span:nth-child(5),
.text-center > span:nth-child(6) {
    font-size: 18px;
}

.YupTeamEmailModal, .YupTeamEmailModal:active, .YupTeamEmailModal:focus {
    background-color: transparent !important;
    border: none;
    text-align: left;
    width: fit-content;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    margin-left: 15px;
    color: white;
}

.YupTeamEmailModal:hover {
    color: rgba(255, 255, 255, 0.2);
    animation-duration: 1s;
    background-color: transparent;
}

.btn-registration {
    background-color: #8b62f4;
    padding: 9px 17px;
    margin-left: auto;
    border: 2px solid #8b62f4;
    border-radius: 5px;
    font-size: 14px
}

.btn-registration:hover {
    background-color: #8A74C2;
    border: 2px solid #8A74C2;
    animation-duration: 1s;
}

.btn-registration:active {
    color: #8A74C2;
    border: 2px solid #8A74C2;
}

.btn-registration:focus {
    background-color: #8A74C2 !important;
    border: 2px solid #8A74C2 !important;
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.input-data-area {
    position: relative;
    margin-bottom: 12px;
}

.input-data-area > textarea {
    display: block;
    width: 100%;
    border: 0;
    font-size: 16px;
    color: black;
    height: 50px;
    resize: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data-area > label {
    position: absolute;
    pointer-events: none;
    bottom: 8px;
    font-size: 16px;
    color: black;
    transition: all 0.3s ease;
}

.input-data-area > .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data-area > .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3268b8;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data-area textarea:focus ~ label, .input-data-area textarea:not(:placeholder-shown) ~ label {
    transform: translateY(-36px);
    font-size: 14px;
    color: #3268b8;
}
.modal-header{
    border: 0;
}
.modal-body > p:nth-child(2){
    color: gray !important;
    font-size: 12px;
}
.modal-footer{
    border: 0;
}
.modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-data-area textarea:focus ~ .underline:before, .input-data-area textarea:not(:placeholder-shown) ~ .underline:before {
    transform: scale(1);
}

.input-data-area > textarea:focus, .input-data-area > textarea:active {
    outline: none;
    box-shadow: none;
    border: 0;
}

#sendEmailToYupTeamModalLabel {
    font-size: 18px;
    color: #3168b8;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .game {
        display: none;
    }

    .exception-row > div {
        flex-direction: initial;
        align-items: center;
    }

    .exception-row > div > div {
        display: none;
    }

    .text-center > span:nth-child(1),
    .text-center > span:nth-child(2) {
        font-size: 18px;
    }

    .text-center > span:nth-child(3),
    .text-center > span:nth-child(4),
    .text-center > span:nth-child(5),
    .text-center > span:nth-child(6) {
        font-size: 14px;
    }

    .input-data-area > textarea, .input-data-area > label {
        font-size: 14px;
    }

    .input-data-area textarea:focus ~ label, .input-data-area textarea:not(:placeholder-shown) ~ label {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .input-data-area > textarea, .input-data-area > label {
        font-size: 12px;
    }

    .input-data-area textarea:focus ~ label, .input-data-area textarea:not(:placeholder-shown) ~ label {
        font-size: 10px;
    }

    .btn-registration {
        padding: 7px 15px;
    }

    .YupTeamEmailModal {
        font-size: 10px;
    }
}
