<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head('singleEventViewByOwner')}"></head>
<body>
<div class="top-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-chat-left-dots"
         viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
</div>
<div class="bottom-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-chat-left-dots"
         viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
</div>
<nav th:replace="~{fragments/navbar :: navbar('login', 'yes', ${firstname}, 'event')}"></nav>
<div class="container main-container">
    <div class="row center-for-form">
        <form class="our-form" method="post" th:object="${event}">
            <div class="form-event-image">
                <img th:if="${event.eventImage != null && event.eventImage.length > 0}"
                     th:src="@{'/event/' + ${event.id} + '/image'}"
                     alt="Event Image" class="img-fluid">
                <img th:if="${event.eventImage == null || event.eventImage.length == 0}"
                     th:src="@{/images/default-image.jpg}"
                     alt="Event Image" class="img-fluid">
            </div>
            <div class="main-part-of-the-form">
                <h3>Manage your YUP!</h3>
                <div class="input-data">
                    <input type="text" id="inputName" name="name" th:field="*{name}" placeholder="" autofocus disabled>
                    <div class="underline"></div>
                    <label for="inputName">Event name</label>
                </div>
                <div class="input-data-box">
                    <select id="inputTag" name="tag" disabled>
                        <option th:each="tag : ${tags}" th:value="${tag}" th:text="'#' + ${#strings.toLowerCase(tag)}"></option>
                    </select>
                    <label for="inputName">Tag</label>
                </div>
                <div class="input-data-box">
                    <input type="datetime-local" id="inputStartDateTimeDisabled" name="startDateTime" th:value="*{startDateTime}" disabled>
                    <div class="underline"></div>
                    <label for="inputStartDateTimeDisabled">Start date time</label>
                </div>
                <div class="input-data-box">
                    <input type="datetime-local" id="inputEndDateTimeDisabled" name="endDateTime" th:value="*{endDateTime}" disabled>
                    <div class="underline"></div>
                    <label for="inputEndDateTimeDisabled">End date time</label>
                </div>
                <div class="input-data form-block" id="searchBoxContainer">
                    <input id="searchBox" class="input-form" type="text" th:field="*{location}" placeholder=""
                           autocomplete="off" disabled>
                    <div class="underline"></div>
                    <label for="searchBox">Location</label>
                </div>
                <div class="input-data-area">
                    <textarea id="inputDescription" th:field="*{description}" placeholder="" disabled></textarea>
                    <div class="underline"></div>
                    <label for="inputDescription">Event Description</label>
                </div>
                <div class="input-data">
                    <input type="number" id="inputMaxParticipants" name="participantsMaxNumber"
                           th:field="*{participantsMaxNumber}" placeholder="" disabled>
                    <div class="underline"></div>
                    <label for="inputMaxParticipants">Max. number of participants</label>
                </div>
                <div class="align-for-button">
                    <a class="btn btn-registration" data-bs-toggle="modal" data-bs-target="#warningDeleteModal">
                        Delete
                    </a>
                    <div class="twoButtons">
                        <a class="button-scan" id="sendCheckInFirstOpen" data-bs-toggle="modal"
                           data-bs-target="#sendCheckIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                 class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                                <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5M4 4h1v1H4z"/>
                                <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z"/>
                                <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z"/>
                                <path d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2 2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"/>
                                <path d="M12 9h2V8h-2z"/>
                            </svg>
                        </a>
                        <a class="btn btn-primary" th:href="@{/event/{id}/participants(id=${event.id})}">
                            People
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<span class="event-image">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-chat-left-dots"
         viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
</span>
<div class="modal fade" id="warningDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" method="POST" th:action="@{/event/api/delete}">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Cancel your YUP?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel your YUP? All of your data will be permanently lost and cannot be
                    recovered.</p>
            </div>
            <div class="modal-footer align-for-button">
                <button type="button" class="btn btn-registration" data-bs-dismiss="modal">
                    Cancel
                </button>
                <input type="hidden" name="eventId" th:value="*{event.id}">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="sendCheckIn" tabindex="-1" aria-labelledby="sendCheckInLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendCheckInLabel">Register a <span>YUP</span>per!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="switchCamera">
                    <svg id="cameraOn" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-camera-video" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"/>
                    </svg>
                    <svg id="cameraOff" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-camera-video-off notDisplayed" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10.961 12.365a2 2 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l.714 1H9.5a1 1 0 0 1 1 1v6a1 1 0 0 1-.144.518zM1.428 4.18A1 1 0 0 0 1 5v6a1 1 0 0 0 1 1h5.014l.714 1H2a2 2 0 0 1-2-2V5c0-.675.334-1.272.847-1.634zM15 11.73l-3.5-1.555v-4.35L15 4.269zm-4.407 3.56-10-14 .814-.58 10 14z"/>
                    </svg>
                </div>
                <div class="notDisplayed" id="viewText">
                    <div class="input-data">
                        <input type="text" id="inputTextQrCode" placeholder="" autofocus>
                        <div class="underline"></div>
                        <label for="inputTextQrCode">Text Qr Code</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="sendWithText" class="btn btn-primary"
                        >Check
                        </button>
                    </div>
                </div>

                <div id="viewVideo">
                    <video id="video" width="270"></video>
                    <canvas id="canvas" width="270" style="display: none;"></canvas>
                </div>
            </div>
            <div id="allDone" class="notDisplayed">
                <div class="wrapper">
                    <svg id="checkmark" class="animated-check" viewBox="0 0 24 24">
                        <path d="M4.1 12.7L9 17.6 20.3 6.3"/>
                    </svg>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span id="alertText"></span>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.3.1/dist/jsQR.js"></script>

<script th:src="@{/script/main-script.js}"></script>
<script type="module" th:src="@{/script/event.js}"></script>
<script th:src="@{/script/scanQrCode.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    let vnt = /*[[${event.id}]]*/ 'default';
    /*]]>*/
</script>

</body>
</html>
